{
  "presets": ["env", "react"],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ]
    }
  }
}
