{
  "presets": [["env", { "modules": false }], "react", "flow"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions",
    "ramda"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"]
    }
  }
}
