{
  "parser": "babel-eslint",
  "extends": ["prettier", "plugin:flowtype/recommended"],
  "plugins": ["react", "import", "flowtype"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "classes": true,
      "modules": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-undef": "error",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-shadow": "warn",

    "react/jsx-uses-vars": "error"
  }
}
