# Configurations
.circleci
.github
.vscode
.babelrc
.eslintrc
.flowconfig
.gitignore
.prettierrc
.flowconfig
jest.*
webpack.*

# Sources
__*
src
internal
examples
example.png
logo.png
stories
examples
.storybook
/*.png

# Tests
cypress*
coverage
jest.*
