# Configurations
.github
.circleci
.storybook
.vscode
.babelrc
*.config.js
.gitignore
.prettierrc
tsconfig.*
tslint.*
jest.*
webpack.*
yarn-*

# Sources
__*
src
internal
examples
stories
examples
/*.png
materials
storybook-static

# Tests
cypress*
coverage
jest.*
tests
