# Configurations
.circleci
.github
.vscode
.babelrc
.eslintrc
.flowconfig
.gitignore
.prettierrc
webpack.*

# Sources
src
docs
internal
examples
example.png
logo.png
stories
.storybook

# Tests
cypress*
coverage
jest.*
